<div class="app_wrap">
    <div class="list_header">
        <h1>Mes instances</h1>
        <a routerLink="/new-instance" class="add_btn"><span class="material-icons-round">add</span> Créer une instance</a>
    </div>
    <a routerLink="/instance/{{ key }}" class="instance_container" *ngFor="let key of instancesKeys">
        <div class="left_container">
            <p>{{ instances[key].vmName }}</p>
        </div>
        <div class="right_container">
            <p>{{ instances[key].serverName }}</p>
            <p>{{ instances[key].os }}</p>
        </div>
    </a>
</div>