/* TODO add border bottom to nav with linear */
nav {
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
}

#div_nav {
    display: flex;
    align-items: center;
}

#div_nav a{
    display: flex;
    align-items: center;
    margin: 0px 12px;
}