<div class="app_wrap">
    <div class="form_container">
        <a routerLink="/instance/{{ instanceId }}" class="back_arrow"><span class="material-icons-round">arrow_back</span></a>
        <div class="instance_header">
            <h1>Modifier {{ instance.vmName }}</h1>
            <button (click)="confirmBeforeDelete()" class="delete_btn" title="Supprimer mon instance">
                <span class="material-icons-round">delete</span>
            </button>
        </div>
        <form [formGroup]="editInstanceForm" (ngSubmit)="onSubmit()">
            <label for="vmName">Nom de la Machine Virtuell</label>
            <input type="text" id="vmName" formControlName="vmName">
    
            <label for="unity">Unité</label>
            <select formControlName="unity" id="unity">
                <option value="MB">MB</option>
                <option value="GB">GB</option>
            </select>
    
            <label for="ram">RAM</label>
            <input type="number" formControlName="ram" id="ram" min="0">
    
            <label for="storage">Stockage</label>
            <input type="number" formControlName="storage" id="storage">
    
            <label for="os">Système d'exploitation</label>
            <select formControlName="os" id="os">
                <option value="windows">Windows</option>
                <option value="ubuntu">Ubuntu</option>
            </select>
    
            <button type="submit" class="btn primary_btn" [disabled]="editInstanceForm.invalid">Sauvegarder</button>
            <p class="error_message" *ngIf="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>