#cta {
    background: url('../../../assets/img/cta-backr.jpg');
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cta_left p {
    font-size: 78px;
    font-weight: bold;
    color: white;
}

#feature {
    margin: 56px auto;
}

.feature_block {
    display: flex;
    align-items: center;
    margin: 24px 0px;
}

.feature_block img {
    width: 56px;
}

.feature_block p {
    font-size: 24px;
    margin-left: 56px;
}

.feature_spotlight {
    font-weight: bold;
    color: #00C9FF;
}