<main>
    <section id="cta">
        <div id="cta_left">
            <p>Le <span class="light_text">cloud</span> à<br> la portée de tous</p>
        </div>
        <div id="cta_right">
            <a routerLink="/new-instance" class="btn primary_cta_btn">Commencer</a>
            <a href="#feature" class="btn secondary_cta_btn">Fonctionnalités</a>
        </div>
    </section>
    <section id="feature" class="app_wrap">
        <div class="feature_block">
            <img src="../../../assets/img/clouds.png" alt="Cloud">
            <p>Un accès à un système de cloud <span class="feature_spotlight">simple</span> et <span class="feature_spotlight">accécible</span> à tous. Même les plus novices.</p>
        </div>
        <div class="feature_block">
            <img src="../../../assets/img/rocket.png" alt="Rocket">
            <p><span class="feature_spotlight">Rapide</span> à mettre en place. 5 minutes montre en main.</p>
        </div>
        <div class="feature_block">
            <img src="../../../assets/img/save-money.png" alt="Money">
            <p>Des tarifs stables et <span class="feature_spotlight">sans frais cachés</span>. Fini les surprises sur votre compte en banque.</p>
        </div>
    </section>
</main>