.instance_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 16px;
}

.instance_body {
    display: flex;
}
.instance_body section {
    background-color: white;
    border-radius: 6px;
    margin: 16px;
    padding: 16px;
}

.description {
    flex-grow: 1;
}

.descritpion_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.performance {
    flex-grow: 5;
}

.feature_table td:first-child {
    font-weight: bold;
}
.feature_table td:last-child {
    color: #707070
}

hr {
    border: solid 1px #E6E6E6;
}