<div class="signup_container">
    <div class="signup_form">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <h1>Connexion</h1>
            <label for="email">E-mail</label>
            <input type="text" id="email" formControlName="email">

            <label for="password">Mot-de-passe</label>
            <input type="password" id="password" formControlName="password">

            <button type="submit"  [disabled]="signinForm.invalid">S'inscrire</button>
            <p class="error_message" *ngIf="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>